<div class="row center">
  <div class="col s12 m4 l2"></div>
  <div class="col s12 m4 l8">
    <div id="desc" class="container">
      <h5 class="light">Nouveau Post</h5>
      <br>
      <form [formGroup]="postForm" (ngSubmit)="onSavePost()">


        <div class="row">
          <div class="input-field col s12">
            <input formControlName="title" id="title" type="text" class="validate">
            <label for="title">Titre</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input formControlName="content" id="content" type="text" class="validate">
            <label for="content">Contenu</label>
          </div>
        </div>

        <div class="row">
          <label>Ajouter une image :</label>

          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" (change)="detectFiles($event)" accept="image/*">
              <p *ngIf="fileUploaded">Fichier Chargé</p>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>
        </div>
        <button [disabled]="postForm.invalid || fileIsUploading" class="btn waves-effect waves-light" type="submit">
          Créer
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>
<br>

