<div class='card horizontal'>
  <div class='card-image'>
    <img style="height: 250px; width: 500px;" class='image' alt='Image'
         src='{{postImage}}'>
    <span class='card-title'>{{ postTitle }}</span>
  </div>
  <div class='card-stacked'>
    <div class='card-content center'>
      <p class='corps'>{{ postContent }}</p>
      <br><br>
      <div><i class="tiny material-icons">access_time</i>{{postCreated_at | date: 'd MMMM y' }}</div>
    </div>
    <div class='card-action center'>
      <a href='#'>Love it</a>
      <a href='#'>Don't love it</a>
    </div>
  </div>
</div>
