<div class='card horizontal'>
  <div class='card-image'>
    <img style="height: 250px; width: 500px;" class='image' alt='Image'
         src='{{postImage}}'>
    <span class='card-title'>{{ postTitle }}</span>
  </div>
  <div class='card-stacked'>
    <div [ngStyle]="{color: getColor()}" class='card-content center'>
      <p class='corps'>{{ postContent }}</p>
      <br><br>
      <div><i class="tiny material-icons">access_time</i>{{postCreated_at | date: 'd MMMM y' }}</div>
    </div>
    <div class='card-action center'>
      <div class="row">
        <button class="waves-effect waves-light btn" (click)="onLove()">Love it</button>
        <button class="waves-effect waves-light btn red" (click)="onDontLove()">Don't love it</button>
      </div>
    </div>
  </div>
</div>
