<div class='card horizontal'>
  <div class='card-image'>
    <img class='image' alt='Image'
         src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqaHVqVEMnhaqNErm4RQCghmEP4Gp5FL0pcmkV53bfN8169Ndt'>
    <span class='card-title'>Titre</span>
  </div>
  <div class='card-stacked'>
    <div class='card-content'>
      <p class='corps'>Une jolie photo...</p>
    </div>
    <div class='card-action center'>
      <a href='#'>Love it</a>
      <a href='#'>Don't love it</a>
    </div>
  </div>
</div>
