<div class="row center">
  <button class="waves-effect waves-light btn" (click)="onNewPost()">Nouveau Post</button>
</div>
<div *ngFor="let post of posts; let i = index">
  <div class="section no-pad-bot container">
    <div>
      <div class='card horizontal'>
        <div class='card-image'>
          <img class='image' style="height: 300px" alt='Image'
               src='{{post.image}}'>
          <span class='card-title'>{{ post.title }}</span>
        </div>
        <div class='card-stacked'>
          <div [ngStyle]="{color: getColor(post)}" class='card-content center'>
            <p class='corps'>{{ post.content }}</p>
            <br><br>
            <div><i class="tiny material-icons">access_time</i>{{post.created_at | date: 'd MMMM y' }}</div>
            <br>
            <p><i class="tiny material-icons">favorite</i> {{post.loveIts}}</p>
          </div>
          <div class='card-action center'>
            <div class="row">
              <a class="center" (click)="onViewPost(i)">Détails</a>
              <a class="center" (click)="onDeletePost(post)">Supprimer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
